@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  background: #F4F4F4;
  font-family: 'Roboto', sans-serif;
}

.App-header {
   position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #F4F4F4;
}

.App-header h1 {
  margin: 0;
}

.App-header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.App-header nav ul li {
  font-weight: bold;
  margin: 0 15px;
  color: #000;
  cursor: pointer;
}

 #book{
    background-color:rgb(38, 160, 38) ;
    border:none;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    display: flex;
    margin: 0 15px;
    padding: 10px;
  cursor: pointer;

}

.App-header #book:hover{
    background-color:darkgreen;

}

.App-header nav ul li:hover {
  color: rgb(38, 160, 38);
}

.hero {
    position: relative;
    text-align: center;
    
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    /* font-size: 50px; */
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-text h2 {
    font-size: 60px;
    margin: 0;
  }
  
.hero-text h1 {
    font-size: 35px;
    margin: 10px 0;
}

.hero-text button{
    background-color:rgb(38, 160, 38) ;
    border:none;
    border-radius: 5%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}
.hero-text button:hover{
    background-color:darkgreen;

}

.booking-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    padding: 20px;
    margin: 20px 0;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  .booking-form form {
    display: flex;
    align-items: center;
    gap: 40px;
}
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .booking-form .btn{
    display: flex;
    justify-content: center;
    background-color:rgb(38, 160, 38) ;
    border:none;
    border-radius: 5%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
  }

  .booking-form .btn:hover{
    background-color: darkgreen;
  }


.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 30%;
} 
